/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

.img-thumbnail{
    height: 100%;
    width: 40%;
}

.mycontainer{
    height: 50%;
    width: 100%;
    text-align: center;
}
.container{
    background-color: rgb(248, 229, 232);

}
h1{
    text-align: center;
    nav.bordered {
        border-bottom: 1px solid #ddd;
    }
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
td{
    text-align: center;
}
.list-group-item{
    background-color:whitesmoke;
}
.td{
    text-align: left;
}

.item1{
    width: 100%;
    text-align: center;
}
.list-group-item{
    width: 20%;
    text-align: center;
    background-color:  rgb(248, 229, 232);

.search{
    width: 100%;
    text-align: right;
}
}